.primary_btn{
    padding: 18px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    min-width: 220px;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.primary_btn:active{
    background-color: #111111;

}


.outline.btn{
    padding: 18px 10px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: .5rem;
    min-width: 220px;
    font-size: 16px;
    justify-content: center;

}